<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/category.css">
</head>
<body>
<div class="wrap-all">
    <!--头部导航开始-->
    <%- include nav.ejs %>
    <!--头部导航结束-->


    <div class="container bs-wrap">
        <div class="row">
            <div class="col-md-3">
                <ul class="category-tab list-unstyled">
                    <li>图书分类</li>
                    <% for(var i = 0;i < category.length;i++){ %>
                    <li class="active">
                        <button style="color: #000;"><%= category[i].name %></button>
                        <ul class="list-unstyled">
                            <% for(var j = 0;j < category[i].category.length;j++){ %>
                            <li>
                                <a href="/category?pname=<%= category[i].name %>&cname=<%= category[i].category[j].name %>&cid=<%= category[i].category[j]._id %>"><%= category[i].category[j].name %></a>
                            </li>
                            <% } %>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="category-con-header">
                    <p>当前所在位置:
                        <span>&gt;</span>
                        <a href="/">在线书城</a>
                        <span>&gt;</span>
                        <a href="/category">图书分类</a>
                        <% if(pageInfo.panme){ %>
                        <span>&gt;</span>
                        <a><%= pname %></a>
                        <span>&gt;</span>
                        <a><%= cname %></a>
                        <% } %>
                    </p>
                </div>
                <div class="category-con-con">
                    <div class="panel panel-default">
                        <div class="panel-heading content-full">
                            <a data-pname="<%= pageInfo.pname %>" data-cname="<%= pageInfo.cname %>"
                               data-cid="<%= pageInfo.cid %>"
                               data-order_cnt="<%= pageInfo.order_cnt %>" data-price="<%= pageInfo.price %>"
                               id="order_cnt_sort">销量
                                ↓</a>
                            <a data-pname="<%= pageInfo.pname %>" data-cname="<%= pageInfo.cname %>"
                               data-cid="<%= pageInfo.cid %>"
                               data-price="<%= pageInfo.price %>" data-order_cnt="<%= pageInfo.order_cnt %>"
                               id="price_sort">价格 ↑</a>
                        </div>
                        <div class="panel-body">
                            <ul class="product-newest-group list-unstyled row content-full">
                                <!--书籍列表-->
                                <% for(var i = 0;i < BookData.length;i++){ %>
                                <li class="product-newest-item col-md-2">
                                    <div class="thumbnail">
                                        <img src="./images/65465465.jpg" alt="...">
                                        <div class="caption">
                                            <h4 class="thumbnail-name"><%= BookData[i].name %></h4>
                                            <span class="thumbnail-autor"><%= BookData[i].author_id.name %></span>
                                            <span class="thumbnail-price">￥<%= BookData[i].price %></span>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                            </ul>

                            <!--分页开始-->
                            <% if(pageInfo.totalPage > 1) { %>
                            <div class="bs-page text-center">
                                <a class="btn btn-default" href="javascript:;">共有<%= pageInfo.totalPage %>页</a>
                                <a class="btn btn-default"
                                   href="/category?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=1">首页</a>
                                <% if (pageInfo.page != 1) { %>
                                <a class="btn btn-default"
                                   href="/category?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= pageInfo.page - 1 %>">上一页</a>
                                <% } %>
                                <a class="btn btn-default active"
                                   href="/category?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= pageInfo.page %>"><%= pageInfo.page %></a>

                                <% if (pageInfo.page <= pageInfo.totalPage - 1 ){ %>
                                <a class="btn btn-default"
                                   href="/category?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= parseInt(pageInfo.page) + 1 %>"><%= parseInt(pageInfo.page) + 1 %></a>
                                <% } if (pageInfo.page <= pageInfo.totalPage - 2)  { %>
                                <a class="btn btn-default"
                                   href="/category?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= parseInt(pageInfo.page) + 2 %>"><%= parseInt(pageInfo.page) + 2 %></a>
                                <% }if(pageInfo.page < pageInfo.totalPage) { %>
                                <a class="btn btn-default"
                                   href="/category?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= parseInt(pageInfo.page) + 1 %>">下一页</a>
                                <% } %>
                                <a class="btn btn-default"
                                   href="/category?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= pageInfo.totalPage %>">尾页</a>
                            </div>
                            <% } %>
                            <!--分页结束-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push-footer"></div>
</div>

<!--底部-->
<%- include bottom.ejs %>

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/category.js"></script>

</body>
</html>