<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/recommend.css">
</head>
<body>
<div class="wrap-all">
    <!--头部导航开始-->
    <%- include nav.ejs %>
    <!--头部导航结束-->

    <div class="container bs-wrap">
        <div class="row">
            <div class="col-md-9">
                <div class="bs-main">
                    <div class="product-list content-full">
                        <div class="product-list-header content-full">
                            <h3 class="pull-left">推荐好书</h3>
                        </div>
                        <div class="product-list-content content-full">
                            <ul class="product-list-group list-unstyled row content-full">
                                <% for(var i = 0;i < recommend.length;i++){ %>
                                <li class="product-list-item col-md-12">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="./images/65465465.jpg" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body row">
                                            <div class="col-md-8">
                                                <h4 class="media-name"><%= recommend[i].name %></h4>
                                                <p class="media-meta">
                                                    <span><%= recommend[i].author_id.name %></span><span>￥<%= recommend[i].price %></span>
                                                </p>
                                                <p class="media-contnet"><%= recommend[i].content %></p>
                                            </div>
                                            <div class="col-md-4 media-body-right content-full">
                                                <a href=""><i
                                                            class="glyphicon glyphicon-copyright-mark"></i><span>加入购物车</span></a>
                                                <a href=""><i
                                                            class="glyphicon glyphicon-heart"></i><span>我的收藏</span></a>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <% } %>

                            </ul>
                        </div>
                    </div>
                    <!--分页开始-->
                    <% if(pageInfo.totalPage > 1) { %>
                    <div class="bs-page text-center">
                        <a class="btn btn-default" href="javascript:;">共有<%= pageInfo.totalPage %>页</a>
                        <a class="btn btn-default"
                           href="/recommend?page=1">首页</a>
                        <% if (pageInfo.page != 1) { %>
                        <a class="btn btn-default"
                           href="/recommend?page=<%= pageInfo.page - 1 %>">上一页</a>
                        <% } %>
                        <a class="btn btn-default active"
                           href="/recommend?page=<%= pageInfo.page %>"><%= pageInfo.page %></a>
                        <% if (pageInfo.page <= pageInfo.totalPage - 1 ){ %>
                        <a class="btn btn-default"
                           href="/recommend?page=<%= parseInt(pageInfo.page) + 1 %>"><%= parseInt(pageInfo.page) + 1 %></a>
                        <% } if (pageInfo.page <= pageInfo.totalPage - 2)  { %>
                        <a class="btn btn-default"
                           href="/recommend?page=<%= parseInt(pageInfo.page) + 2 %>"><%= parseInt(pageInfo.page) + 2 %></a>
                        <% }if(pageInfo.page < pageInfo.totalPage) { %>
                        <a class="btn btn-default"
                           href="/recommend?page=<%= parseInt(pageInfo.page) + 1 %>">下一页</a>
                        <% } %>
                        <a class="btn btn-default"
                           href="/recommend?page=<%= pageInfo.totalPage %>">尾页</a>
                    </div>
                    <% } %>
                    <!--分页结束-->
                </div>
            </div>
            <!--侧边排行-->
            <div class="col-md-3">
                <%- include asideRank.ejs %>
            </div>
        </div>
    </div>
    <div class="push-footer"></div>
</div>

<!--底部-->
<%- include bottom.ejs %>

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/index.js"></script>
</body>
</html>